{% extends 'main.html' %}


{% block title %}
    query_customer_video
{% endblock title %}
    

{% block content %}

    <h1 class="text-center my-4">Query 10: IN operator, Sci-Fi, Adult, Drama</h1>
    
    <table>
        <thead>
            <tr>
                <th>Movie_Title</th>
                <th>Movie_Year</th>
                <th>Category_Name</th>
                <th>Category_Price</th>
               
            </tr>
        </thead>
        <tbody>
            {% for query in query_10 %}
            <tr>
                <td>{{ query.0 }}</td>
                <td>{{ query.1 }}</td>
                <td>{{ query.2 }}</td>
                <td>{{ query.3 }}</td>

   
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}

