{% extends 'main.html' %}


{% block title %}
    Query 9: Movie cost greater than "Drama" genre
{% endblock title %}
    

{% block content %}
    <h1 class="text-center my-4">Query 9: Movie cost greater than "Drama" genre</h1>
    <table>
        <thead>
            <tr>
                <th>Video Title</th>
                <th>Movie Title</th>
                <th>category Name</th>
                <th>Movie Cost</th>

            </tr>
        </thead>
        <tbody>
            {% for query in query_9 %}
            <tr>
                <td>{{ query.0 }}</td>
                <td>{{ query.1 }}</td>
                <td>{{ query.2 }}</td>
                <td>{{ query.3 }}</td>


   
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}

