{% extends 'main.html' %}


{% block title %}
    
{% endblock title %}
    

{% block content %}
    <h1 class="text-center my-4">List of rented videos</h1>
    <table>
        <thead>
            <tr>
                <th>rental Number</th>
                <th>Movie Title</th>
                <th>Members Names</th>
                <th>Category Name</th>
                <th>Rented On</th>
                <th>Due Date</th>
                <th>Returned On</th>
             
            </tr>
        </thead>
        <tbody>
            {% for rentedvideo_item in rentedvideo %}
            <tr>
                <td>{{ rentedvideo_item.0 }}</td>
                <td>{{ rentedvideo_item.1 }}</td>
                 <td>{{ rentedvideo_item.2}} {{ rentedvideo_item.3 }}</td>
                <td>{{ rentedvideo_item.4 }}</td>
                <td>{{ rentedvideo_item.5 }}</td>
                <td>{{ rentedvideo_item.6 }}</td>

                <td>{{ rentedvideo_item.7 }}</td>
            
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
