{% extends 'main.html' %}


{% block title %}
    
{% endblock title %}
    

{% block content %}
    <h1>List of rented videos</h1>
    <table>
        <thead>
            <tr>
                <th>rental Number</th>
                <th>Rented On</th>
                   <th>Due Date</th>
                <th>Returned On</th>
                <th>Catalog Number</th>
                <th>Member Number</th>
             
            </tr>
        </thead>
        <tbody>
            {% for rentedvideo_item in rentedvideo %}
            <tr>
                <td>{{ rentedvideo_item.rental_number }}</td>
                <td>{{ rentedvideo_item.date_of_rent }}</td>
                 <td>{{ rentedvideo_item.due_date}}</td>
                <td>{{ rentedvideo_item.date_of_return }}</td>
                <td>{{ rentedvideo_item.catalog_number_id }}</td>
                <td>{{ rentedvideo_item.member_number_id }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
